{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'trander' %}">
          <span class="menu-title">Accueil</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Gestion des article</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-responsive menu-icon"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionArticles' %}">Articles simple</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestioncpus' %}">CPUs</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionfans' %}">Fans</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionmotherboards' %}">Motherboards</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionrams'  %}">RAMs</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestiongraphiccard' %}">GraphicCards</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionDisqueDurs' %}">DisqueDurs</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionCases' %}">Cases</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionPowerSupplys' %}">PowerSupplys</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionSoundCards' %}">SoundCards</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'gestionNetworkCards' %}">NetworkCards</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'statistique' %}">
          <span class="menu-title">Statistiques</span>
          <i class="mdi mdi-chart-bar  menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'demmand_t' %}">
          <span class="menu-title">Demands </span>
          <i class="mdi mdi-truck menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'returnarticle' %}">
          <span class="menu-title">Gestion des rendres</span>
          <i class="mdi mdi-keyboard-return menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'outOfStock' %}">
          <span class="menu-title">Gestion des OutStock</span>
          <i class="mdi mdi-reload menu-icon"></i>
        </a>
      </li>

      
      
    </ul>
  </nav>