<button type="button" class="btn btn-mauve w-100 shadow">Configurateur PC</button>
                <div class="card w-100 mt-3 shadow">
                    <div class="btn-mauve p-1 text-center dropdown-item-over">Catégories</div>
                    <div class="">
                        <ul class="nav flex-column text-center">
                            <li class="nav-item">
                                <a class="nav-link nav-link-override" href="#">Informatique</a>
                                <a class="nav-link nav-link-override" href="#">Image & Son</a>
                                <a class="nav-link nav-link-override" href="#">Téléphonie & Auto</a>
                                <a class="nav-link nav-link-override" href="#">Jeux & loisirs</a>
                                <a class="nav-link nav-link-override" href="#">Objets connectés</a>
                                <a class="nav-link nav-link-override" href="#">Consommables</a>
                                <a class="nav-link nav-link-override" href="#">Connectique</a>
                            </li>
                        </ul>
                    </div>
                </div>