<div class="container-fluid shadow mt-3">
    <div class="container">
        <div class="row d-flex w-100">
            <div class="col-lg-4">
                <h4 class="text-center text-color-primar mt-3">à propos de nous</h4>
                <p class="main-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum</p>
            </div>
            <div class="col-lg-4">
                <h4 class="text-center text-color-primar mt-3 ">Aide</h4>
                <ul class="nav flex-column text-center">
                    <li class="nav-item">
                        <a class="nav-link nav-link-override" href="#">Raporter vendeur</a>
                        <a class="nav-link nav-link-override" href="#">Raporter article</a>
                        <a class="nav-link nav-link-override" href="#">Raporter client</a>
                        <a class="nav-link nav-link-override" href="#">Contacter nous</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 h-100">
                <h4 class="text-center text-color-primar mt-3">Communauté</h4>
                <ul class="nav flex-column text-center">
                    <li class="nav-item">
                        <a class="nav-link nav-link-override" href="#"><i class="bi bi-facebook"> </i>Facebook</a>
                        <a class="nav-link nav-link-override" href="#"><i class="bi bi-twitter"> </i>Twitter</a>
                        <a class="nav-link nav-link-override" href="#"><i class="bi bi-instagram">
                            </i>Instagram</a>
                        <a class="nav-link nav-link-override" href="#"><i class="bi bi-youtube"> </i>Youtube</a>
                    </li>
                </ul>
                <h4 class="text-center text-color-primar mt-3">Langage</h4>
                <select class="form-select fix-with-select mx-auto" aria-label="Default select example">
                    <option value="1">Français</option>
                    <option value="2">Anglais</option>
                    <option value="3">Arabe</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <p class="text-center">Tous les droits sont réservés </p>
        </div>
    </div>
</div>