<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link nav-link-override" aria-current="page" href="#">Accueil</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link nav-link-override" href="#">Informatique</a></li>
                        <li><a class="nav-link nav-link-override" href="#">Image & Son</a></li>
                        <li> <a class="nav-link nav-link-override" href="#">Téléphonie & Auto</a></li>
                        <li> <a class="nav-link nav-link-override" href="#">Jeux & loisirs</a></li>
                        <li> <a class="nav-link nav-link-override" href="#">Objets connectés</a></li>
                        <li><a class="nav-link nav-link-override" href="#">Consommables</a></li>
                        <li> <a class="nav-link nav-link-override" href="#">Connectique</a></li>
                    </ul>
                </li>
                <a class="nav-link nav-link-override" href="#">Meilleur articles</a>
                <a class="nav-link nav-link-override" href="#">Best seller</a>

            </div>

        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-mauve">Configurateur PC</button>
        </ul>
    </div>
</nav>