
{%  extends 'trander/base.html' %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image">
          <h4 class="font-weight-normal mb-3">Nombre de product<i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">6</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image">
          <h4 class="font-weight-normal mb-3">Nombre de demand <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">45,6334</h2>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'assets/images/dashboard/circle.svg'%}" class="card-img-absolute" alt="circle-image">
          <h4 class="font-weight-normal mb-3">Nomber de outstok <i class="mdi mdi-diamond mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">95,5741</h2>
        </div>
      </div>
    </div>
  </div>

{% endblock %}