{% extends 'client/base.html' %}
{% load static %}
{% load mathfilters %}
{% block sousnavbar %}
{% include 'client/sousnavbar.html' %}
{% endblock %}

{% block content %}


<div class="container-fluid mt-3">
    <div class="container">
        <div class="card pl-5 p-5 mb-3 shadow">
            
            <h1>Mes returns</h1>
            {% if page_obj %}
            <table id="cart" class="table table-responsive">
                <thead>
                    <tr class="names">
                        <th style="width:50%">Article</th>
                        <th style="width:20%" class="text-right hidden-xs">La date</th>
                        <th style="width:20%" class="text-right hidden-xs">Code de return</th>
                        <th style="width:10%" class="text-right">Accepter</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for i in page_obj %}
                    <tr class="item">
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs"><img
                                        src="{% get_media_prefix %}{{ i.demand.article.image}}"
                                        alt="Converse" class="img-product img-responsive img-rounded" width="120" height="120" /></div>
                                <div class="col-sm-9">
                                    <h4 class="nomargin">{{ i.demand.article.name}}</h4>
                                    <p class="hidden-xs">{{ i.demand.article.shortDescription}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Size" class="text-right hidden-xs">{{ i.dateAdded }}</td>
                        <td data-th="Price" class="text-right hidden-xs">{{ i.codeReturn }}</td>
                        {% if i.isAccepted %}
                        <td data-th="Quantity" class="text-right">Accepter</td>
                        {% else %}
                            {% if i.isConsulted %}
                                 <td data-th="Quantity" class="text-right">Refuser</td>
                                 {% else %}
                                 <td data-th="Quantity" class="text-right">On traitment</td>
                                 {% endif %}
                        {% endif %}
                        
                    </tr>
                    {% endfor %}

                    
                </tbody>
                
            </table>
            <div class="d-flex justify-content-center mt-4">
                <ul class="pagination shadow">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'ReturnDemmandPage' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'ReturnDemmandPage' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="row justify-content-md-center mt-3">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </div>
            {% else %}
            <h1 class="text-center ">La liste vide</h1>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}